@tailwind base;
@tailwind components;

.fonts {
  font-family: "Shadows Into Light", "Lora", "Raleway";
}

/* Header animation*/

.move-top {
  animation: 0.5s ease-in-out forwards up;
}

@keyframes up {
  from {
    top: 0;
  }
  to {
    top: -150px;
  }
}

.move-down {
  @apply shadow-md;
  animation: 0.5s ease-in-out forwards down;
}

@keyframes down {
  from {
    top: -150px;
  }
  to {
    top: 0;
  }
}

.image-display {
  @apply h-full mx-auto;
}

.section-padding {
  @apply px-6 py-12;
}

.top-divider {
  margin-bottom: -40px;
  transform: scaleX(-1) scaleY(0.5);
}

.divider-bottom {
  transform: scaleX(-1) rotate(180deg);
  margin-top: -40px;
}

.mission-p {
  @apply text-xl font-medium mb-4 break-words;
}

.feather {
  @apply h-48;
  margin: -180px auto 0 auto;
}

.my-p {
  @apply text-xl mb-4 break-words;
}

.p-card {
  @apply text-base mb-4;
}

.my-h2 {
  @apply font-serif font-semibold text-3xl;
}

.big-h2 {
  @apply table mx-auto font-serif font-semibold text-4xl relative z-10 text-mazurka-purple;
}

/* .big-h2:before {
  @apply absolute w-full right-0 mb-6;
  background: #B181BB;
  bottom: -4px;
  content: '';
  height: 60%;
  transform: rotate(-1deg);
  z-index: -1
} */

.h3-features {
  @apply text-xl text-gray-900 font-bold;
}

.p-features {
  @apply text-lg;
}

.h3-values {
  @apply text-2xl font-serif font-bold text-mazurka-purple bg-mazurka-pink px-2;
}

.p-values {
  @apply text-xl font-medium w-full mt-4 text-mazurka-purple;
}

.values-title {
  @apply flex items-center;
}

.input-cta {
  @apply ease-in-out border border-transparent rounded-lg bg-gray-200 h-12 px-4 mb-3;
  min-width: 200px;
}

.input-cta:focus {
  @apply bg-white border-gray-300 outline-none;
}

.input-cta::placeholder {
  @apply text-white;
  min-width: 200px;
}

.my-quote {
  @apply m-8 italic relative;
}

.my-quote::before {
  @apply absolute text-gray-200;
  z-index: -10;
  top: -90px;
  left: -20px;
  font-size: 120px;
  content: "«";
}

.image-side-container {
  @apply h-32 w-auto my-8;
}

.price-title {
  @apply uppercase text-center text-3xl font-serif font-semibold;
}

.features-container {
  @apply flex flex-col-reverse my-16;
}

.card-container {
  @apply my-10 bg-white shadow-md rounded-md px-6 py-10;
  display: grid;
}

.card-avatar-container {
  @apply h-64 w-64 mx-auto;
}

.card-avatar-image {
  @apply h-full w-auto mx-auto;
}

.transparent-img-shadow {
  filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.07))
    drop-shadow(0 5px 20px rgba(0, 0, 0, 0.06))
    drop-shadow(0 8px 40px rgba(0, 0, 0, 0.04));
}

.li-bullet {
  @apply h-6 w-auto mr-2 pt-1;
  filter: invert(0.5) sepia(1);
}

.price-span {
  @apply text-4xl text-gray-900 font-normal;
}

.price-txt {
  @apply text-center text-gray-600 font-bold;
}

.btn-container {
  @apply mt-6 mb-4 flex;
}

.btn {
  @apply py-3 w-2/3 mx-auto rounded-lg text-center text-white font-semibold;
  background: #631d76;
}

#show-mentions-legales:checked ~ label span {
  display: none;
}

#show-mentions-legales:checked ~ label {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 20;
}

#show-mentions-legales:checked ~ label:after {
  content: "×";
  display: block;
  position: fixed;
  margin: 0;
  bottom: calc(80vh + 5rem);
  left: calc(80vw + 1rem);
  width: 4rem;
  height: 4rem;
  font-size: 8rem;
  color: black;
  z-index: 22;
  cursor: pointer;
}

#show-mentions-legales:checked ~ #mentions-legales {
  @apply bg-gray-900 text-white;
  display: block;
  position: fixed;
  margin: 0;
  top: 20vh;
  left: 20vw;
  height: 60vh;
  width: 60vw;
  padding: 1rem;
  overflow-y: scroll;
  z-index: 21;
}

#mentions-legales p {
  margin-bottom: 1rem;
}

.blog-content p,
.blog-content li,
.blog-content code {
  @apply text-xl mb-8 leading-8;
}

.blog-content ul {
  @apply list-disc ml-8;
}

.underline {
  text-decoration: underline;
}

.blog-content table {
  @apply mb-16;
}

.blog-content td,
th {
  @apply py-6;
}

.blog-content tr th {
  @apply text-gray-600;
}

.blog-content tbody tr {
  @apply border-gray-600 border-solid border-t border-b;
}

.blog-content tr :nth-child(2) {
  @apply px-12;
}

.blog-content th :nth-child(2) {
  @apply px-12;
}

.blog-content table .yellow code {
  @apply font-sans text-yellow-200 bg-yellow-500 px-1;
}

.blog-content table .red code {
  @apply font-sans text-red-200 bg-red-500 px-1;
}

code[class*="language-"],
pre[class*="language-"] {
  text-shadow: 0 0px transparent !important;
}

.blog-content h2 {
  @apply text-2xl font-serif font-bold text-gray-900 mt-16 mb-8;
}

.h3-blog {
  @apply text-3xl font-serif font-bold text-mazurka-green;
  text-shadow: 0;
}

.newsletter-form {
  @apply flex flex-col items-center mt-8;
}

.newsletter-p {
  @apply text-lg text-center mb-3;
}

.newsletter-hero-input-container {
  @apply flex flex-col flex-wrap w-full;
}

.newsletter-hero-button {
  @apply  bg-mazurka-purple font-medium pl-2 text-center text-white rounded-lg text-lg font-medium px-4 h-12;
  min-width: 200px; 
}

.newsletter-hero-button:hover {
  @apply bg-mazurka-purple-lighter;
}

.newsletter-footer-button {
  @apply w-full bg-gray-100 h-16 px-4 text-gray-900 text-center rounded-lg font-bold text-mazurka-purple;
}

/* .newsletter-footer-input-container {
  @apply flex flex-col;
} */

.newsletter-footer-input {
  @apply w-full flex-1 max-w-md px-4 mb-3 mr-4 rounded-lg text-white border border-white bg-gray-900 h-16;
}

/* small screen: @media (min-width: 640px) { ... } */
@screen sm {
  .my-h2 {
    @apply text-5xl;
  }

  .big-h2 {
    @apply text-5xl;
  }

  .p-card {
    @apply text-xl;
  }

  .features-container {
    @apply flex-row my-32 items-center;
  }

  /* .card-avatar-container {
    @apply w-1/2;
  } */

  .image-side-container {
    @apply h-48;
  }

  .newsletter-hero-input-container {
    @apply w-3/5;
  }

  .newsletter-footer-input-container {
    @apply flex flex-row;
  }

  .newsletter-footer-button {
    @apply w-auto;
  }

  .newsletter-footer-input {
    @apply w-auto;
  }
}

/* medium screen: @media (min-width: 768px) { ... }
 */
@screen md {
  .h3-features {
    @apply text-2xl text-gray-900 font-bold;
  }

  .p-features {
    @apply text-xl;
  }

  .p-values {
    @apply w-4/6;
  }

  .card-container {
    @apply mx-2 max-w-xl mx-auto;
  }

  .text-side-container {
    @apply w-5/6 mx-8 my-8 flex;
  }

  .image-side-container {
    @apply block relative w-1/6 m-8;
  }

  .image-side-container {
    @apply h-56;
  }

  .newsletter-form {
    @apply block mt-auto;
  }

  .newsletter-p {
    @apply text-base text-left;
  }

  .newsletter-hero-input-container {
    @apply w-full;
  }

  .input-cta {
    @apply mr-4;
  }

  .newsletter-hero-button {
    @apply mr-4;
  }
}

/* large screen : @media (min-width: 1024px) { ... } */
@screen lg {
  .card-container {
    @apply mx-4;
    max-width: 495px;
    display: grid;
    grid-template-rows: auto 4rem 6rem 1fr;
  }

  .newsletter-form {
    @apply mt-0;
  }

  .newsletter-hero-input-container {
    @apply flex-row;
  }

  .input-cta {
    @apply flex-1 h-16;
  }

  .newsletter-hero-button {
    @apply flex-none h-16;
  }
}

/* extra-large screen : @media (min-width: 1280px) { ... }*/
@screen xl {
  .section-padding {
    @apply p-20;
  }
}

#accueil input[type="submit"],
form input[type="submit"] {
  cursor: pointer;
}
#accueil input[type="email"]:disabled,
form input[type="email"]:disabled {
  opacity: 0.5;
  transition: opacity 0.2s;
  cursor: normal;
}

#accueil .sending {
  --bg-color-normal: hsl(287, 61%, 29%);
  --bg-color-light: hsl(287, 61%, 70%);
}

footer .sending {
  --bg-color-normal: white;
  --bg-color-light: hsl(287, 61%, 70%);
}

.sending {
  animation: sending 1s infinite normal;
  background: linear-gradient(
      90deg,
      var(--bg-color-normal),
      var(--bg-color-normal),
      var(--bg-color-light),
      var(--bg-color-normal),
      var(--bg-color-normal)
    )
    repeat scroll 0% 0% / 500% 100%;
}
@keyframes sending {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@tailwind utilities;
